@inject IStudentService studentService

@if (isLoaded)
{
    @ChildContent
}
else
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
            <MudProgressCircular Color="Color.Success" Size="Size.Large" Indeterminate="true" />
        </div>
    </div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await studentService.GetStudents();
        isLoaded = true;
    }
}